*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url("./COVID-19.jpg");
    
}
 
.crud-operation {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 2px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .crud-operation span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .crud-operation span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .crud-operation:hover {
    background-color: blue;
  }
  .crud-operation:hover span {
    padding-right: 25px;
  }
  .crud-operation:hover span:after {
    opacity: 1;
    right: 0;
  }
  .sub:hover{
    color: blue;
   }